@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.sticky-header {
  position: sticky;
  top: 0;
}
.hexagon {
  width: 80px; /* Adjust size for smaller hexagon */
  height: 46.19px; /* Adjust height accordingly */
  background-color: #252320; /* Background color for hexagon */
  position: relative;
  margin: 20px; /* Add margin as needed for spacing */
  /* border: 3px solid #dfb758; Border color and thickness */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 40px solid transparent; /* Half of new width */
  border-right: 40px solid transparent; /* Half of new width */
}

.hexagon::before {
  bottom: 100%; /* Position above */
  border-bottom: 23.09px solid #252320; /* Adjust for top triangle */
}

.hexagon::after {
  top: 100%; /* Position below */
  border-top: 23.09px solid #252320; /* Adjust for bottom triangle */
}

/* For larger screens */
@media (min-width: 768px) {
  .hexagon {
    width: 100px; /* Slightly larger for bigger screens */
    height: 57.74px; /* Height adjustment */
  }

  .hexagon::before,
  .hexagon::after {
    border-left: 50px solid transparent; /* Half of new width */
    border-right: 50px solid transparent; /* Half of new width */
  }

  .hexagon::before {
    border-bottom: 29.9px solid #252320; /* Half of new height for top */
  }

  .hexagon::after {
    border-top: 29.9px solid #252320; /* Half of new height for bottom */
  }
}
