@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  background-image: url("https://doing.social/img/bg1.b3f24c76.jpg");
}
.sticky-header {
  position: sticky;
  top: 0;
}
.hexagon {
  width: 100px; /* Larger default width */
  height: 57.74px; /* Larger default height */
  background-color: #252320;
  position: relative;
  margin: 20px;
  box-sizing: border-box;
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent; /* Half of new width */
  border-right: 50px solid transparent;
}

.hexagon::before {
  bottom: 100%;
  border-bottom: 29.9px solid #252320; /* Top triangle */
}

.hexagon::after {
  top: 100%;
  border-top: 29.9px solid #252320; /* Bottom triangle */
}

/* Media query for smaller screens (max-width: 768px) */
@media (max-width: 768px) {
  .hexagon {
    width: 40px; /* Smaller hexagon width */
    height: 23.09px; /* Smaller hexagon height */
  }

  .hexagon::before,
  .hexagon::after {
    border-left: 20px solid transparent; /* Half of new width */
    border-right: 20px solid transparent;
  }

  .hexagon::before {
    border-bottom: 11.55px solid #252320; /* Top triangle for smaller hexagon */
  }

  .hexagon::after {
    border-top: 11.55px solid #252320; /* Bottom triangle for smaller hexagon */
  }
}
